* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.heading {
  font-size: 25px;
  color: red;
  position: fixed;
  top: 5px;
  width: 100%;
  margin-left: 5px;
  z-index: 2;
}

.gallery {
  padding-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.galleryItems {
  margin: 5px;
  border: 1px solid blue;
}

.galleryItems:hover {
  border: 2px solid blueviolet;
}

.galleryItems .actName {
  padding: 15px;
  text-align: center;
  color: brown;
  font-weight: bold;
  font-size: 25px;
}
